/* Header CSS */

:root {
    /* Header dimensions and sizes */
    --header-font-size: 24px;
    --header-height: calc(var(--header-font-size) * 5);
    --header-photo-height: calc(var(--header-font-size) * 3.5);
    --header-social-icon-height: calc(var(--header-font-size) * 2);
}

/* Container styles */
.header-container {
    /* Container height and position */
    height: var(--header-height);
    padding: 0 5%;

    /* Gradient background animation */
    background: linear-gradient(to bottom, black 5%, var(--primary-color) 90%, white 100%);
}

/* Header container layout */
.header {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
}

/* Profile picture styles */
.profile-picture-container,
.profile-picture-image {
    /* Profile picture dimensions and styles */
    height: var(--header-photo-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    border-radius: 10px;
    transition: var(--hover-transition);
}

.profile-picture-container {
    /* Adjust profile picture container height */
    height: var(--header-height);
}

.profile-picture-image {
    /* Initial profile picture opacity */
    opacity: 70%;
}

.profile-picture-image:hover {
    /* Profile picture hover effect */
    opacity: 80%;
}

/* Navigation styles */
.nav-container {
    /* Navigation container layout */
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-links-container {
    /* Navigation links layout */
    display: flex;
    list-style: none;
    height: var(--header-height);
}

.nav-item,
.nav-link {
    /* Navigation item styles */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header-font-size);
    color: var(--text-color-light);
    padding: 0 0.4em;
    transition: var(--hover-transition)
}

.nav-link:hover {
    /* Navigation link hover effect */
    color: var(--call-to-action);
}

/* Social links styles */
.social-links-container {
    /* Social links container layout */
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    list-style: none;
}

.social-item,
.social-icon {
    /* Social item and icon dimensions */
    width: var(--header-social-icon-height);
    color: var(--text-color-light);
    padding: 0 0.6em;
    transition: var(--hover-transition)
}

.social-icon:hover {
    /* Social icon hover effect */
    color: var(--call-to-action);
}

/* Collapse toggle */
#nav-toggle {
    position: absolute;
    top: -100px;
}

/* Collapsed Navigation Icon */
.icon-collapsed-container {
    /* Collapsed navigation icon container layout */
    display: none;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    margin-left: auto;
}

.icon-collapsed {
    /* Collapsed navigation icon layout */
    display: block;
    transition: var(--hover-transition);
}

.icon-collapsed:hover .line {
    background-color: var(--call-to-action);
}

.icon-collapsed:hover {
    /* Collapsed navigation icon hover effect */
    cursor: pointer;
}

.line {
    /* Line styles for collapsed navigation icon */
    width: 50px;
    height: 8px;
    background-color: var(--text-color-light);
    margin: 8px;
    border-radius: 3px;
    transition: var(--hover-transition)
}

/* Mobile responsive styles */
@media screen and (max-width: 870px) {
    .nav-container {
        /* Hide navigation container on smaller screens */
        display: none;
    }

    #nav-toggle:checked + .nav-container {
        /* Show navigation container when toggle is checked */
        display: flex; /* Show navigation container when the input is checked */
        flex-direction: column; /* Stack navigation items vertically */
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9); /* Background for mobile navigation */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999; /* Make sure it's above other content other than toggle button */
    }

    #nav-toggle:checked + .nav-container > .nav-links-container {
        margin-top: var(--header-height);
    }

    #nav-toggle:checked + .nav-container > .nav-links-container .nav-item {
        padding-top: 1em;
    }

    #nav-toggle:checked + .nav-container > .social-links-container {
        margin-top: var(--header-height);
    }

    #nav-toggle:checked + .nav-container > .social-links-container .social-item {
        padding: 1.5em;
    }

    /* Adjust navigation links layout for mobile */
    #nav-toggle:checked + .nav-container > .nav-links-container {
        flex-direction: column;
    }

    /* Show collapsed icon on mobile */
    .icon-collapsed-container {
        display: flex;
        z-index: 1000;
    }

    /* Adjust collapsed icon animation */
    #nav-toggle:checked ~ .icon-collapsed-container .line:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
    }

    #nav-toggle:checked ~ .icon-collapsed-container .line:nth-child(3) {
        transform: translateY(-16px) rotate(-45deg);
    }

    #nav-toggle:checked ~ .icon-collapsed-container .line:nth-child(2) {
        opacity: 0;
    }
}
