/* Header CSS */

:root {
    --header-font-size: 24px;
    --header-height: calc(var(--header-font-size) * 5);
    --header-photo-height: calc(var(--header-font-size) * 3.5);
    --header-social-icon-height: calc(var(--header-font-size) * 2);

    --header-hover-transition: all 0.3s ease;
}

/* Container styles */
.header-container {
    height: var(--header-height);
    padding: 0 5%;
    background: linear-gradient(300deg, var(--secondary-color-light), var(--primary-color), var(--secondary-color-dark));
    background-size: 200% 200%;
    animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.header {
    max-width: 1040px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

/* Profile picture styles */
.profile-picture-link,
.profile-picture-image {
    height: var(--header-photo-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    border-radius: 10px;
    transition: var(--header-hover-transition);
}

.profile-picture-link {
    height: var(--header-height);
}

.profile-picture-image {
    opacity: 70%;
}

.profile-picture-image:hover {
    opacity: 80%;
    transform: scale(1.1);
}

.nav-container {
    display: flex;
    align-items: center;
}

/* Navigation styles */
.nav-links-container {
    display: flex;
    list-style: none;
    height: var(--header-height);
}

.nav-item,
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header-font-size);
    color: var(--text-color-light);
    padding: 0 0.4em;
    transition: var(--header-hover-transition)
}

.nav-link {
    opacity: 70%;
}

.nav-link:hover {
    opacity: 100%;
    transform: scale(1.1);
}

/* Social links styles */
.social-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    list-style: none;
}

.social-item,
.social-icon {
    width: var(--header-social-icon-height);
    color: var(--text-color-light);
    padding: 0 0.6em;
    transition: var(--header-hover-transition)
}

.social-icon {
    opacity: 70%;
}

.social-icon:hover {
    opacity: 100%;
    transform: scale(1.1);
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

.icon-collapsed-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}


.icon-collapsed {
    display: block;
    opacity: 80%;
    transition: var(--header-hover-transition);
}

.icon-collapsed:hover {
    opacity: 100%;
    transform: scale(1.1);
    cursor: pointer;
}

.line {
    width: 30px;
    height: 5px;
    background-color: var(--text-color-light);
    margin: 5px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 870px) {
    .nav-container {
        display: none;
    }

    #nav-toggle:checked + .nav-container {
        display: flex; /* Show navigation container when the input is checked */
        flex-direction: column; /* Stack navigation items vertically */
        background-color: rgba(0, 0, 0, 0.8); /* Background for mobile navigation */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999; /* Make sure it's above other content other than toggle button */
        padding: 2rem; /* Add some padding for spacing */
    }

    #nav-toggle:checked + .nav-container > .nav-links-container {
        flex-direction: column;
    }

    .icon-collapsed-container {
        display: flex;
        z-index: 1000;
    }

    #nav-toggle:checked ~ .icon-collapsed-container .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    #nav-toggle:checked ~ .icon-collapsed-container .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    #nav-toggle:checked ~ .icon-collapsed-container .line:nth-child(2) {
        opacity: 0;
    }
}
