/* Hero CSS */

/* Hero container */
.hero-container {
    padding: 0 5%;
    background-color: white;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
}

/* Main hero section style */
.hero {
    max-width: 1040px;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
}

/* Content section style */
.hero-content {
    max-width: 400px;
    text-align: center;
}

.hero-title {
    font-size: var(--title-font-size);
    font-weight: bold;
    color: var(--text-color-dark);
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: var(--subtitle-font-size);
    color: var(--text-color-gray);
}

/* Links container style */
.hero-links-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.hero-link-item {
    font-size: var(--link-font-size);
    font-weight: bold;
    margin: 20px 8px;
}

.hero-link {
    background-color: var(--call-to-action); /* Red background */
    color: var(--text-color-dark);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    white-space: nowrap;
    transition: var(--hover-transition)
}

.hero-link:hover {
    background-color: var(--call-to-action-hover);
}

/* Hero image style */
.hero-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.hero-img {
    max-width: 100%;
    transition: var(--hover-transition);
    transform-origin: center bottom;
}

.hero-img:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 870px) {
    .hero {
        flex-direction: column;
    }

    .hero-links-container {
        flex-direction: column;
    }
}