@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    /* Color palette */
    --primary-color: #27374d;
    --text-color-light:#fff;
    --text-color-dark: #000;
    --text-color-gray: #808080;
    --background-color-dark: #56667e;
    --background-color-light: #ddf2ff;
    --call-to-action: #dda11d;
    --call-to-action-hover: #b5890d;

    /* Font size */
    --title-font-size: 36px;
    --subtitle-font-size: 18px;
    --link-font-size: 20px;

    --hover-transition: all 0.3s ease;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color-light);
}