@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    /* Color palette */
    --primary-color: #27374d;
    --primary-color-light: #38507b;
    --text-color-light:#fff;
    --text-color-dark: #000;
    --text-color-gray: #808080;
    --background-color-dark: #384353;
    --background-color-light: #ddf2ff;
    --border-color: #d9d9d9;
    --call-to-action: #dda11d;
    --call-to-action-hover: #c0891a;

    /* Font size */
    --title-font-size: 36px; /* For each headline */
    --header-font-size: 24px; /* Header font size determines the height of header components */ 
    --link-font-size: 20px; /* For every link on my website */ 
    --subtitle-font-size: 18px; /* Text font size */

    /* Hover transition */
    --hover-transition: all 0.3s ease;

    /* Max width of the content for larger screens */
    --content-width: 1040px;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color-light);
}